<div class="mdc-card" style="margin-top: 10px;">
    <div class="mdc-card__content">
        <h1>Name: {{product.name}}</h1>
        <p>{{product.description}}</p>
        <p>Status: {{product.status}}</p>
        <p>Signatures required: {{product.maxStage}}</p>
        {{#if product.createdBy}}
            <p>Doctor: {{product.createdBy}}</p>
        {{/if}}
        {{#if product.signatures}}
            <div class="mdf-card__title">Signatures:</div>
            {{#each product.signatures}}
                <ul>
                    <li>Stage: {{stage}}</li>
                    <li>Signed By: {{name}}</li>
                </ul>
            {{/each}}
        {{/if}}
    </div>
    {{#if product.completed}}
    {{else}}
    <div class="mdc-card__line"></div>
    <div class="mdc-card__actions">
        <form method="post">
            <div class="mdc-form-group">
                <div class="mdc-select width-100">
                    <i class="mdc-select__dropdown-icon"></i>
                    <label class="mdc-floating-label">Pick a Doctor</label>
                    <select class="mdc-select__native-control" name="identity">
                      <!--- Task 7 -->
                        <option value="" disabled selected></option>
                        {{#each users as |label|}}
                            <option value="{{label}}">{{label}}</option>
                        {{/each}}
                    </select>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>

            <div class="mdc-form-group">
                <button class="mdc-button mdc-button--raised" type="submit">
                    <span class="mdc-button__label">Upload</span>
                </button>
            </div>

        </form>
   </div>
   {{/if}}
</div>


<a href="/">Back</a>
